* {
    margin: 0;
    padding: 0;
    background-color: blueviolet;
}
div{
    width: 500px;
    height: 500px;
    display: flexbox;
    background-color: white;
    border: black solid;
}
.programa-principal {
    align-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 400px;
    margin-top: 70px;
}

h1{
    color: aliceblue;
}
.notas{
    align-self: center;
    justify-content: center;
}